<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test application</title>
    <link rel="stylesheet" href="stylesheets/vendor/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="javascripts/vendor/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="javascripts/vendor/jquery-ui.js"></script>
    <script type="text/javascript" src="javascripts/vendor/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
</head>
<body>


<div class="main">

    <div id="tabs">
        <div id="StatusBar">
            <p class="statusbar-label">Сейчас:</p>
            <p class="statusbar-description"></p>
            <p class="statusbar-timer"></p>
            <p class="statusbar-stop">
                <button id="stopButton">s</button>
                <button id="pauseButton">p</button>
            </p>
        </div>
        <ul>
            <li><a href="#WorkLogTab">Log work</a></li>
            <li><a href="#StatisticsTab">Statistics</a></li>
            <li><a href="#Categories">Categories</a></li>
            <li><a href="#Settings">Settings</a></li>
        </ul>
        <div id="WorkLogTab">
            <input type="text" name="description">
            <div id="ButtonWrapper">

            </div>
        </div>
        <div id="StatisticsTab">
            <table class="worklog">
                <thead><tr>
                    <th>Наименование</th>
                    <th>Категория</th>
                    <th>Начало</th>
                    <th>Окончание</th>
                    <th>Длительность</th>
                </tr></thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="Categories">
            <ul class="category-list"></ul>
        </div>
        <div id="Settings">
            Settings
        </div>
    </div>
</div>
</body>
</html>