div#tabs {
    width:700px;
    margin:30px auto 0 auto;
}

#WorkLogTab input[name="description"] {
    width:100%;
}

#ButtonWrapper {
    padding:10px 0;
    margin:0 -10px;
}

.category {
    margin:10px;
    height:80px;
    width:80px;
}

#StatusBar {
    padding:10px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

#StatusBar p {
    display: table-cell;
    overflow: hidden;
    //border: 1px #000 solid;
}
.statusbar-label {
    width: 100px;
}

.statusbar-description {
    overflow: hidden;
    width: 400px
}
.statusbar-timer {
    width:100px;
    text-align: right;
    padding-right: 5px;
}
.statusbar-stop {
    vertical-align: middle;
}

.statusbar-stop button {
    float: right;
    margin-left: 2px;
}

table.worklog, table.worklog td, table.worklog th {
    border: 1px #aaa solid;
}
table.worklog td, table.worklog th {
    padding: 2px;
}

table.worklog {
    border-collapse: collapse;
}

.right {
    text-align: right;
}